<!-- main/templates/main/home.html -->
{% extends 'main/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
            </tr>
        </thead>
        <tbody>
            {% for user_stat in user_stats %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user_stat.user.username }}</td>
                    <td>{{ user_stat.wins }}</td>
                    <td>{{ user_stat.losses }}</td>
                    <td>{{ user_stat.ties }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No user statistics available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
